{% extends 'oscar/checkout/preview.html' %}
{% load currency_filters %}
{% load i18n %}

{% block payment_method %}
    <div class="col-sm-6">
        <div class="sub-header">
            <h2>{% trans "Payment" %}</h2>
        </div>
        <div class="well well-success">
            <a href="{% url 'checkout:payment-method' %}" class="pull-right">
                {% trans "Change" %}
            </a>
            <h3>{% trans "Payment" %}</h3>
            <p>Using {{ payment_method.title|default:'Docdata' }}</p>
        </div>
    </div>
{% endblock payment_method %}

{% block hiddenforms %}
    {{ bankcard_form.as_p }}
{% endblock %}
